
.Events-content{
    width: 100%;
    height: 100%;
}
.Events-content img{
    width: 100%;
    height: 100%;
}
.Events-content .mar-auto{
    width: 1024px;
    height: 100%;
    margin: auto;
}
.Events-content .title{
    margin-top: 70px !important;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #333333;
}
.Events-content .data{
    width: 100%;
    height: 100%;
    /* background-color: #333333; */
}
.data{
    width: 100%;
    height: 100%;
}
.data-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.data-header-l{
    font-size: 16px;
    font-weight: 500;
    color: #777777;
}
.data-header-l span{
   cursor: pointer;
}
.data-header-r{
    width: 224px;
    height: 40px;
    position: relative;
    /* border-bottom: 1px solid #C4C4C4; */
}
.data-header-r img{
    position: absolute;
    z-index: 99;
    top: 10px;
    left: 0;
    width: 23px;
    height: 23px;
}
.data-header-r input{
    position: absolute;
    width: 100%;
    height: 100%;
    text-indent: 28px;
    font-size: 16px;
    color: #777777;
    border: none;
    border-bottom: 1px solid #c4c4c4;
    /* background-image: url('../images/search.png');
    background-repeat: no-repeat; */
    background-size: 24px;
    background-color: #F8F8F8;
}
.data-header-r input:focus{
	outline: medium;
}
.data-center{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.data-center .data-list{
    margin-top: 40px;
    width: 492px;
    /* height: 407px; */
}
.data-list .list-h{
    width: 100%;
    height: 275px;
   
}
.data-list .list-b{
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 132px;
    background-color: #FFFFFF;
}
.data-list .list-b .list-b-l{
    width: 90px;
    height: 100%;
    position:relative;
    
}
.across{
    width: 100%;
    height: 1px;
    background-color: #DFDFDF;
    position : absolute;/*绝对定位*/
    top:50%;
}
.vertical{
    height:100%;
    width: 1px;
    background-color: #DFDFDF;
    position : absolute;/*绝对定位*/
    left:50%;
}
.list-b-l-date{
    width: 50px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 999;
    text-align: center;
    background-color: #FFFFFF;
    font-size: 16px;
    font-family: PingFang SC-Bold, PingFang SC;
    font-weight: bold;
    color: #333333;
}
.data-list .list-b .list-b-c{
    padding-left: 10px;
    width: 264px;
    height: 100%;
    font-size: 20px;
    font-family: PingFang SC-Bold, PingFang SC;
    font-weight: bold;
    color: #333333;
}
.data-list .list-b .list-b-c .p2{
    font-size: 16px;
    font-weight: 400;
    color: #393939;
}
.data-list .list-b .list-b-c .p3{
    width: 46px;
    height: 20px;
    border-radius: 0px 10px 0px 10px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    font-weight: 400;
    color: #333333;
    background-color: #F2C723;
   
}
.data-list .list-b .list-b-c .bor-r{
    color: #ffffff;
    background-color:#D63328;
}
.data-list .list-b .list-b-r{
    padding-left:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 115px;
    height: 100%;
    border-left: 1px solid #D6D6D6;
    cursor: pointer;
}
.data-list .list-b .list-b-r p{
    width: 50px;
    margin: 0;
    font-size: 12px;
    font-family: PingFang SC-Bold, PingFang SC;
    font-weight: bold;
    color: #333333;
}
.data-list .list-b .list-b-r img{
    width: 22px;
    height: 22px;
}
.data-bottom{
    width: 100%;
}
.data-bottom p{
    margin:0  auto ;
    margin-top: 60px;
    width: 222px;
    height: 44px;
    cursor: pointer;
    line-height: 44px;
    text-align: center;
    border: 1px solid #DFDFDF;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}
.active{
    font-weight: bold;
    color: #333333;
}