
.Events-content{
    width: 100%;
    height: 100%;
}
.Events-content .mar-auto{
    width: 1024px;
    height: 100%;
    margin: auto;
}
.Events-content .title{
    margin-top: 70px !important;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #333333;
}
.Events-content .data{
    width: 100%;
    height: 100%;
    /* background-color: #333333; */
}
.data{
    width: 100%;
    height: 100%;
}
.data-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.data-header-l{
    font-size: 16px;
    font-weight: 500;
    color: #777777;
}
.data-header-r{
    width: 224px;
    height: 40px;
    position: relative;
    /* border-bottom: 1px solid #C4C4C4; */
}
.data-header-r img{
    position: absolute;
    z-index: 99;
    top: 10px;
    left: 0;
    width: 23px;
    height: 23px;
}
.data-header-r input{
    position: absolute;
    width: 100%;
    height: 100%;
    text-indent: 28px;
    font-size: 16px;
    color: #777777;
    border: none;
    border-bottom: 1px solid #c4c4c4;
    /* background-image: url('../images/search.png');
    background-repeat: no-repeat; */
    background-size: 24px;
    background-color: #F8F8F8;
}
.data-header-r input:focus{
	outline: medium;
}