@font-face {  
    font-family: 'ziti'; 
    src: url('FangZhengKaiTiJianTi-1.ttf'); 
    font-weight: normal;  
    font-style: normal;  
 }
 @font-face {  
    font-family: 'ziti1'; 
    src: url('演示悠然小楷.ttf'); 
    font-weight: normal;  
    font-style: normal;  
 }