
.Journalism-content{
    width: 100%;
    height: 100%;
}
.Journalism-content .mar-auto{
    width: 1024px;
    height: 100%;
    margin: auto;
}
.Journalism-content .title{
    margin-top: 70px !important;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #333333;
}
.Journalism-content .data{
    width: 100%;
    height: 100%;
    /* background-color: #333333; */
}
.data{
    width: 100%;
    height: 100%;
}
.data-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.data-header-l{
    font-size: 16px;
    font-weight: 500;
    color: #777777;
}
.data-header-r{
    width: 224px;
    height: 40px;
    position: relative;
    /* border-bottom: 1px solid #C4C4C4; */
}
.data-header-r img{
    position: absolute;
    z-index: 99;
    top: 10px;
    left: 0;
    width: 23px;
    height: 23px;
    cursor: pointer;
}
.data-header-r input{
    position: absolute;
    width: 100%;
    height: 100%;
    text-indent: 28px;
    font-size: 16px;
    color: #777777;
    border: none;
    border-bottom: 1px solid #c4c4c4;
    /* background-image: url('../images/search.png');
    background-repeat: no-repeat; */
    background-size: 24px;
    background-color: #F8F8F8;
}
.data-header-r input:focus{
	outline: medium;
}
.data-content{
    margin-top: 30px;
}
.data-content  .data-content-a{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.data-content .data-content-l{
    width: 422px;
    height: 262px;
}
.data-content .data-content-l img{
    width: 100%;
    height: 100%;
}
.data-content .data-content-r{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 29px;
    width: 538px;
    height: 262px;
}
.data-content .data-content-r-1{
    display: flex;  
    align-items: center;
}  
.data-content .data-content-r-1 .img  img{
    width: 28px;
    
}   

.data-content .data-content-r-1 .span1{
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #7C7C7C; 
} 

.data-content .data-content-r-2{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
} 
.data-content .data-content-r-2 .span2{
    font-weight: bold;
    color: #7C7C7C;
    font-size: 14px;
} 
.data-content .data-content-r .p1{
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    margin: 0;
    color: #EA862A;
    letter-spacing: 2px;
} 
.data-content .data-content-r  .div1{
    width: 100%;
    /* height: 66px; */
    font-size: 16px;
    font-weight: 500;
    color: #555555;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
    overflow: hidden;
}
.data-content .data-content-r .div2{
    width: 70px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #7C7C7C;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
}
.data-content .data-content-r .div2:hover{
    background-color: #EA862A ;  
    color: #FFF;
}
.data-bottom{
    width: 100%;
}
.data-bottom p{
    margin:0  auto ;
    width: 222px;
    height: 44px;
    cursor: pointer;
    line-height: 44px;
    text-align: center;
    border: 1px solid #DFDFDF;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}
.data-bottom p span{
   font-size: 18px;
}

